* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 11vh;
    background-color: #9AAE09;
}

nav {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	color: #FF8882;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav .logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron", serif;
    font-size: 30px;
    width: 100px;
    height: 100px;
    background-color: #292929;
    border: 10px solid red;
    border-radius: 100%;
    font-weight: bolder;
    margin-top: 20px;
    box-shadow: 0 0 20px white;
    transition: 1s ease-in-out;
}

nav .logo:hover {
    transform: rotate(360deg);
    text-shadow: 3px 8px 10px #000;
}

nav .logo::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 10px solid transparent;
}

nav .logo:hover::before {
    animation: border 1s linear forwards;
}

ul:first-child {
    margin-right: 5%;
}

ul:last-child {
    margin-left: 5%;
}

ul li {
    position: relative;
    font-family: 'Merriweather', serif;
	font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-size: 20px;
    margin: 0px 30px;
    text-transform: uppercase;
    font-weight: bolder;
	padding-bottom: 35px;
	padding-left: -10px;
}

ul li::before {
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    bottom: -8px;
    background-color: #fff;
    transition: 0.5s ease;

}

ul li:hover::before {
    width: 100%;
}

ul li:hover {
  background-color: #406B15;
  padding: 3px 5px 3px 5px;

}

@keyframes border {
    0% {
        border-top-color: white;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50% {
        border-top-color: white;
        border-right-color: white;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    70% {
        border-top-color: white;
        border-right-color: white;
        border-bottom-color: white;
        border-left-color: transparent;
    }
    100% {
        border-top-color: white;
        border-right-color: white;
        border-bottom-color: white;
        border-left-color: white;
    }
}

body{
    font-family: 'Montserrat', serif;
    overflow-x: hidden;
}

.img{
    position: relative;
    left: 30px;
    top: 40px;
    width: 200px;
    border: 5px solid #9AAE09;
}

.name{
    position: relative;
    top: -60px;
    left: 400px;
    font-family: 'Montserrat', serif;
    font-size: 15px;
}

.dob{
    position: relative;
    top: -60px;
    left: 400px;
}
hr{
    position: relative;
    top:-20px;
    width: 800px;
    margin:auto;
}

.details{
    position: relative;
    left: 40px;

}

.records{
    position: relative;
    left: 50px;
    top:30px;
}

.records_title{
    font-size: 20px;
    font-family: 'Merriweather', sans-serif;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }

::-webkit-scrollbar-thumb {
    background: yellowgreen;  
    border-radius: 10px;
    }
    
::-webkit-scrollbar-thumb:hover {
    background: #88ba1c;  
    }
	
#footer {
	padding:20px;
	position:relative;
	margin-top:15vh;
	bottom:0px;
	width:99vw;
	height:100px;
	font-size:1vw;
	background-color:#96a71d;
}

a.footer {
	text-decoration:none;
	font-family: 'Montserrat', sans-serif;
	color:white;	
}

body{
    font-family: 'Montserrat', serif;
    overflow-x: hidden;
}

.main{ /*main div*/
    background-color: #406b15;
    width: 500px;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    /*left: 512px;*/
    margin: auto;
}

hr{ 
    position: relative;
    margin: auto;
    width: 500px;
}

.main_img{ /*image inside*/
    display: block;
    margin: auto;
}

.main_txt{
    padding-top: 10px;
    text-align: center;
    color: #f9f7f1;
}

#hhtitle{
    text-align: center;
}

.container{
    background-color: #e5e0c0;
    width: 400px;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    margin: auto;
}

.hh_img{
    display: block;
    margin: auto;
}

.hh_text{
    text-align: center;
    padding-top: 10px;
}

.other{
    padding-top: 10px;
}

.moreinfo {
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-family: 'Montserrat', serif;
    font-size: 16px;
    margin: auto;
    transition-duration: 0.7s;
    cursor: pointer;
    background-color: #fff; 
    color: black; 
    border: 2px solid #9AAE09;
}

.moreinfo:hover{
    background-color: #9AAE09;
    color: #fff;
}

